.slick {
  width: calc(100% + 30px); //we need more width for the shadows on the edges
  padding: 32px 15px; //space for the shadows
  margin-left: -15px; //put the div in its original position
  overflow: hidden; //hide the overflow
  // outline: 1px dotted green;
  @include for-size(tablet) {
    padding: 60px 60px; //space for the shadows
    margin-left: -47px;
    width: auto;
  }
  &__list {
    // background-color: aqua;
    @include for-size(mobile-only) {
      transform: translateX(-120px);
      margin-bottom: 40px;
    }
  }
  &__box {
    opacity: 0;
    box-shadow: none;
    background: #dadada;
    border-radius: 2px;
    transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
    .slick-active & {
      opacity: 1;
      box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.25);
      @include for-size(tablet) {
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.slick-slide {
  width: 194px;
  margin: 0 8px;
  @include for-size(tablet) {
    margin: 0 20px;
  }
}
.slick-list {
  overflow: visible;
  margin-left: -8px;
  margin-right: -8px;
  @include for-size(tablet) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.my-slick-prev,
.my-slick-next {
  position: absolute;
  height: 32px;
  width: 32px;
  bottom: calc(-32px - 20px);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @include for-size(tablet) {
    bottom: calc(-32px - 32px);
  }
}

.my-slick-prev {
  left: 118px;
  background-image: url('../images/arrow-left.svg');
  @include for-size(tablet) {
    left: 313px;
  }
}

.my-slick-next {
  left: calc(118px + 32px + 32px);

  background-image: url('../images/arrow-right.svg');
  @include for-size(tablet) {
    left: calc(313px + 32px + 32px);
  }
}

.slick-disabled {
  opacity: 0.7;
  cursor: default;
}
