<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="reserve-room-form" name="contact-form">
      <h2 class="reserve-room-form__title">ЗАБРОНЮВАТИ НОМЕР</h2>
      <label class="reserve-room-form__label">
        <input class="reserve-room-form__input" type="text" name="name" />
        <span class="reserve-room-form__field-name">Ім'я</span>
      </label>

      <button class="button" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
    <div class="modal__close-btn" data-modal-close>
      <svg class="icon" width="18" height="18">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </div>
  </div>
</div>
